
#headers{
  font-size: 35px;
  color: rgba(0,0,0,0.85)
}

#results{
	width: 900px;
	margin-top: 75px;
	margin-left: 217px;
}

.ui.olive.table {
border-top: .2em solid #99cd32;
}

/*upper menu*/



#menu{
	background-color: #99cd32;
}

#logo{
	font-family: 'Pacifico', Sans-Serif;
	font-size: 40px;
	/*font-weight: bold;*/
	color:white;
}

#srchbar{
	margin-left: 245px;
}

#srch{
	width: 515px;
}
h1 {
	margin-top: 100px;
	padding-bottom: 50px;
	text-align: center;
}
/* make it at the center by margin auto*/
/* #myChair{
	margin-left: 120px;
	
} */

#myChair td {
	width: 50px;
	height: 50px;
}

#myChair td:hover {
	border: 1px solid greenyellow;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.center{
	text-align: center;
}

.right{
	float: right;
}
.left{
	float: left;
}
.greenBorder{
	
	border: solid rgb(0, 0, 0);
}
.length{
	width: 340px;
}
input
{
    background: transparent;
    border: none;
}